body{
    margin: 0;
    font-family: 'Merriweather', serif;
}
/*
Those two css will disappear actual element from dom
display : none 
visibility : hidden 
*/

/* Top Container Style */
.top-container{
    background-color: #56BBF1;
    position: relative;
    color: #B9F8D3;
    text-align: center;
}
.pro{
    text-decoration: underline;
}
.top-container h1{
    line-height: 4;
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    padding-top: 100px;
    font-size: 120px;
}

.top-container h2{
    font-size: 30px;
    font-weight: normal;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/* HEADER STARTS HERE */
header nav{
    font-family: 'Sacramento', cursive;
    background-color: #56BBF1;
}

header nav ul {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header h1{
    display: inline-block;
    text-decoration: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 40px;
    text-decoration: none;
    color: #C1DEAE;
}
/* HEADER ENDS HERE */

/* ABOUT ME STARTS HERE */
.about-me{
    margin: 0 auto;
    width: 460px;
}
.about-me img{
    margin-left: 150px;
    width: 150px;
}

.about-me h2{
    color: #56BBF1;
    padding: 0.5em 0;
    text-align: center;
}

.about-me p{
    margin: 0 0 10px;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

/* ABOUT ME ENDS HERE */

/* SKILS STARTS HERE */
.skills{
    width: 50%;
    margin: 100px auto;
}

.skill-row{
    text-align: left;
    line-height: 2;
    margin: 100px auto;
}

.skills h2{
    font-size: 40px;
    text-align: center;
}
.skills h3{
    font-size: 20px;
}
.skills h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: #001E6C;
}

.first-skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.second-skill-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* SKILSS ENDS HERE */

/* PROJECTS STARTS HERE */
.projects{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.projects h2{
    color: #001E6C;
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px 300px;
}


.image-container{
    position: relative;
    padding-right: 100px;
}

.project-one{
    margin-left: 10px;
}
.project-one-image{
    width: 600px;
    height: 600px;
    margin-left: 100px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.image_overlay{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 300px;
    left: 400px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image-container:hover .project-one-image{
    opacity: 0.5;
}

.image-container:hover .image_overlay{
    opacity: 1.5;
}

.image_title{
    /* background-color: #56BBF1; */
    font-family: 'Sacramento', cursive;
    color: #56BBF1;
    font-size: 50px;
    text-transform: lowercase;
    padding: 16px 32px;
}

.image-icon{
    width: 32px;
    height: 32px;
}

.project-two,
.project-three,
.project-four{
    padding-top: 40px;
}



/* PROJECTS ENDS HERE */

/* Get To Touch Starts Here */

.contact-me{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.contact-me img{
    float: left;
    margin-right: 30px;
    width: 150px;
}

.contact-me a{
    float: right;
}
/* Get To Touch Ends Here */


/* FOOTER STARTS HERE */

.footer{
    display: flex;
    justify-content: space-around;
}

.footer img{
    width: 25px;
}

.contact-me a, .footer a, .image_title a{
    text-decoration: none;
    color :#001E6C
}

.contact-me a:visited, .footer a:visited, .image_title:visited{
    color :#001E6C
}


@media screen and (max-width: 980px) {

    .top-container{
        width: 980px;
        height: 980px;
        position: relative;
    }

    .mountain{
        position: absolute;
        bottom: 50px;
        right: 200px;
    }

    .bottom-cloud{
        position:absolute;
        bottom: 450px;
        left: 200px;
    }

    .hero-text{
        position: absolute;
        bottom: 470px;
        left: 350px;    
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    footer div{
        padding: 0px 50px;

    }
}

@media screen and (max-width: 768px) {
    body{
        margin: 0;
        padding: 0;
    }
    .top-container{
        width: 768px;
        height: 768px;
        position: relative;
    }

    .mountain{
        position: absolute;
        bottom: 50px;
        right: 100px;
    }

    .bottom-cloud{
        position:absolute;
        bottom: 400px;
        left: 200px;
    }

    .top-cloud{
        position: absolute;
        right: 120px;
        top: 50px;
    }

    .top-container h1{
        position: absolute;
        bottom: 300px;
        left: 110px;
    }

    header {
        width: 768px;
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    .nav-bar ul{
        padding: 0 20px;
    }

    .about-me, .skills, .contact-me, .projects{
        margin: 100px  120px;
        width: 70%;
    }

    .about-me img{
        margin-left: 200px ;
    }

    .footer{
        margin-left: 50px;
    }
}

@media screen and (max-width:575px) {
    body{
        padding: 0;
        margin: 0;
    }

    .about-me, .skills, .projects, .contact-me, .footer{
        margin-left: 150px;
    }

    .about-me img{
        margin-left: 130px;
    }

    .project-one-image{
        width: 400px;
        height: 350px;
    }


    .image_overlay{
        top: 150px;
        left: 200px;
    }



}