body{
    margin: 0;
    /* text-align: center; */
    font-family: 'Merriweather', serif;
    /* background: #FFEDDB; */
    
}
/*
Those two css will disappear actual element from dom
display : none 
visibility : hidden 
*/

.top-container{
    background-color: #56BBF1;
    position: relative;
    /* width: 200px;
    height: 200px;  */
    color: #B9F8D3;
    text-align: center;
}
.pro{
    text-decoration: underline;
}
.top-container h1{
    line-height: 4;
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    padding-top: 100px;
    /* width: 10%;
    margin: 0 auto; */
    font-size: 120px;
}

.top-container h2{
    font-size: 30px;
    font-weight: normal;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

/* HEADER STARTS HERE */
header nav{
    font-family: 'Sacramento', cursive;
    background-color: #56BBF1;
}

header nav ul {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
header h1{
    display: inline-block;
    text-decoration: none;
}
  
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 40px;
    text-decoration: none;
    color: #C1DEAE;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}
/* HEADER ENDS HERE */

/* ABOUT ME STARTS HERE */
.about-me{
    margin: 0 auto;
    width: 460px;
}
.about-me img{
    margin-left: 150px;
    width: 150px;
}

.about-me h2{
    color: #56BBF1;
    padding: 0.5em 0;
    text-align: center;
}

.about-me p{
    margin: 0 0 10px;
    font-size: 1.5em;
    text-align: center;
    font-weight: 500;
}

/* ABOUT ME ENDS HERE */

/* SKILS STARTS HERE */
.skills{
    width: 50%;
    margin: 100px auto;
}

.skill-row{
    text-align: left;
    line-height: 2;
    margin: 100px auto;
}

.skills h2{
    font-size: 40px;
    text-align: center;
}
.skills h3{
    font-size: 20px;
}
.skills h2, h3{
    font-family: 'Montserrat', sans-serif;
    color: #001E6C;
    /* text-align: center; */
}

.image{
    position: relative;
}

.image_img{
    display: block;
    /* width: 100%; */
}

.image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image_overlay:hover {
    opacity: 1;
}

.image_title img{
    width: 1px;
}

.first-skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.second-skill-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

/* SKILSS ENDS HERE */

/* PROJECTS STARTS HERE */
.projects{
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.projects h2{
    color: #001E6C;
    font-size: 40px;
    text-align: center;
}

.project-one img{
    width: 600px;
    height: 600px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
    position: relative;
}

.project-two,
.project-three,
.project-four{
    padding-top: 40px;
}



/* PROJECTS ENDS HERE */

/* Get To Touch Starts Here */

.contact-me{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.contact-me img{
    float: left;
    margin-right: 30px;
    width: 150px;
}

.contact-me a{
    float: right;
}
/* Get To Touch Ends Here */


/* FOOTER STARTS HERE */

.footer{
    display: flex;
    justify-content: space-around;
}

.footer img{
    width: 25px;
}

.contact-me a, .footer a{
    text-decoration: none;
    color :#001E6C
}

.contact-me a:visited, .footer a:visited{
    color :#001E6C
}


